doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css")
    //- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    //- link(rel='stylesheet', href='/stylesheets/style.css')     

block content
